
endiantest
eg

#ignore all test executables
test/fillcliptest
test/cliprecttesttool
test/cliprecttest
test/scaleblendnormaltest
test/blendnormaltest
test/pointinrecttest
test/scaletest
test/scalecliptest
test/createfreesurftest
test/mousemovetest
test/geteventemptytest
test/eventqueuefulltest
test/eventqueuetest
test/startstopeventstest
test/a.out
test/loadimage
test/formattorgbatest
test/rawformattorgbatest
test/rgbatoformattest
test/rawrgbatoformattest
test/convertpixeltest
test/filltest
test/bitdepthtobytestest
test/findpixformattest
test/maskshiftlentest
test/fillandscaletest
test/loadtest
test/chartomaptest
test/printtosurftest
test/scaletest2
test/findextremepointstest
test/linefindytest
test/includetest
test/deventsincludetest/includetest
test/dincludetest/includetest
platform/test/includetest/includetest
platform/test/resizableoutsurftest
platform/test/fullscreenoutsurftest
test/dkeytochartest
platform/test/sdlktodkeytest
platform/test/inputeventtest
test/blendtest
test/surfcopyscaleblendmodetest
test/getnumberofeventsineventqueue
test/loadtest2
test/blendaddtest

#ignore all platform tests
platform/test/getoutsurftest
platform/test/mouseeventtest
platform/test/boxtest
